/* we have navbar fixed. We don't want it to overlap next section. */

body::before{
display: block;
content: '';
height: 55px;
}

.btn{
min-width: 90px;
}

@media(min-width: 768px){
.news-input{width: 50%;}

}