<div th:fragment="navbar">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <div class="navbar-brand">
                <span class="badge bg-primary">Simple blog</span>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    <a class="nav-link" th:href="@{/posts}">All posts</a>
                    <a class="nav-link" th:href="@{/posts/add}">New post</a>
                    <a class="nav-link" th:href="@{/about}">About project</a>
                </div>

                <a class="btn btn-secondary ms-auto" th:href="@{/logout}">Log Out</a>

            </div>

        </div>
    </nav>
</div>

<!-- <div th:insert="blocks/navbar ::navbar"></div> -->